.saleBar{
    background: #000;
    width: 100%;
    color: #fff;
    min-height: 60px;
    display: flex;
    font-size: 22px;
    font-weight: 600;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    line-height: 33px;

    position: fixed;
    top: 0;
    z-index: 2;
}