
/* For Mobile View */
@media screen and (max-device-width: $breakpoint-sm){

    .saleBar{
        font-size: 19px;
        .container{
            padding: 6px;
            line-height: 22px;
        }
    }

    .navbar{
        padding-left:5px;
        padding-right: 5px;
        margin-top: 20px;
        .navbar-brand {
            top:4px;
         }
    }
    .sub-title{
        p{
            font-size: 15px;
        }
    }

    .login{
        display: none;
    }

    .product-list{
        flex-direction: column;
    }
    .content-wrapper{
        margin-top: 80px;
    }

  }

@media screen and (max-device-width: $breakpoint-md) {
    .product-list{
        flex-direction: unset;
    }
}  

@media screen and (max-device-width: $breakpoint-lg) {

}
  
@media screen and (max-device-width: $breakpoint-xl) {
   
}