$breakpoint-xs: 480px;   // Mobile devices (portrait)
$breakpoint-sm: 768px;   // Tablets
$breakpoint-md: 1024px;  // Small desktops
$breakpoint-lg: 1200px;  // Large desktops
$breakpoint-xl: 1440px;  // Extra-large desktops

$active-color:#AC825A;
$sub-text-color:#676767;
$active-category-color: #252525;
$text-disable-color:#848181;
$active-price-color:#CF4B4B;